<section class="form">
    <% if @user.errors.any? %>
        <div class="alert alert-danger text-center" role="alert">
            <%= pluralize(@user.errors.count, "error") %> 
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %> 
    <h1>Edit User</h1>
    <form method="post" action="/users/update">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name" value="<%= @user.name %>"><br>
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" value="<%= @user.email %>"><br><br>
        <input class="submit-btn" type="submit" value="Edit">
    </form>
</section>